* {
    margin: 0;
    padding: 0;
    min-width: 300px;
    box-sizing: border-box;
}

.menu {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #42a8a1;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: blanchedalmond;
    text-align: center;
    padding: 11px 4%; /* Adjust padding for responsiveness */
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

li a:hover {
    background-color: #239089;
}

body {
    background-repeat: repeat-y;
    background-size: 100% auto; /* Make background responsive */
    background-position: center top; /* Center the background image vertically */
}

.imgs {
    margin: 20px auto; /* Center the images horizontally and add margin */
    text-align: center;
}

.imgs img {
    max-width: 100%; /* Make images responsive */
    height: auto;
    margin: 20px;
    opacity: 0.8;
}

.imgs img:hover {
    opacity: 1;
}

.pie {
    background-color: #42a8a1;
    text-align: center;
    padding: 10px;
}

.enunciado1 {
    background: url(img/34974.jpg);
    height: 425px;
    width: 100%; /* Make it 100% width for responsiveness */
    background-position: center top; /* Center the background image vertically */
    border-radius: 35px;
}

.an1 {
    background-color: #42a8a1;
    width: 100%; /* Make it 100% width for responsiveness */
    margin: 20px auto; /* Center the element horizontally */
    height: auto;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
}

.enunciado2 {
    background: url(img/baner3.png);
    height: 300px;
    width: 100%; /* Make it 100% width for responsiveness */
    background-position: center top; /* Center the background image vertically */
    border-radius: 35px;
}

.img_noso img {
    max-width: 100%; /* Make images responsive */
    border-radius: 35px;
}
